.c_file{
    &-label{
        background: #fff;
        border: 1px solid #fff;
        border-radius: $space-5;
        color: #c8c2bc;
        display: block;
        line-height: 250px;
        height: 250px;
        width: 90%;
        margin: $space_default auto;
        position: relative;
    }
    &-input{
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    &-img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
