
// Variables
@import 'Fandation/variables';

// Fandation
@import 'Fandation/base.scss';

// Layouts
@import 'Layouts/header.scss';
@import 'Layouts/footer.scss';
@import 'Layouts/main.scss';

// Component
@import 'Object/component/contens.scss';
@import 'Object/component/submit.scss';
@import 'Object/component/file.scss';

// Project
@import 'Object/project/form.scss';
@import 'Object/project/alert.scss';
@import 'Object/project/error.scss';
@import 'Object/project/button.scss';
@import 'Object/project/menu.scss';

// Utility
@import 'Object/utility/justfy-content.scss';
@import 'Object/utility/nowrap.scss';
@import 'Object/utility/text-align.scss';
@import 'Object/utility/margin.scss';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

