.p_menu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-family: 'Hachi Maru Pop', cursive;
    &-close{
        display: none;
    }
    &-list{
        margin: 0 $space-10;
    }
    &-link{
        color: $black;
        &:hover{
            color: $brown;
        }
    }
    &-submenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-btn{
            background: none;
            display: flex;
            align-items: center;
            &:hover{
                color: $brown;
            }
            & i{
                display: none;
                margin: 0 $space-10;
                &.on{
                    display: block;
                }
            }
        }
        &-items{
            display: none;
            &.open{
                display: block;
            }
        }
    }
    @include mq(){
        background: $light-brown;
        border: 1px solid $brown;
        box-sizing: border-box;
        display: block;
        text-align: center;
        transition: all .5s;
        padding: $space-10 0;
        position: absolute;
        top: -400%;
        left: 0;
        width: 100%;
        z-index: 5;
        &.on{
            display: block;
            transition: all 1.5s;
            top: 0;
        }
        &-close{
            display: block;
            text-align: right;
            padding-right: $space-20;
            margin-bottom: $space-10;
            &-btn{
                padding: $space-10 $space-20;
                background: none;
                font-size: $font-size_xl;
            }
        }
        &-list{
            margin: $space_30 0;
        }
        &-link{
            padding: $space-10 $space-20;
            &:hover{
                color: #fff;
            }
        }
        &-submenu{
            display: block;
            &-btn{
                display: block;
                font-size: 16px;
                margin: $space_30 auto;
                width: 100%;
                position: relative;
                &:hover{
                    color: #fff;
                }
                & i{
                    font-size: 18px;
                    display: none;
                    margin: 0;
                    position: absolute;
                    right: 25%;
                    top: 10%;
                    &.on{
                        display: block;
                    }
                }
            }
        }

    }
}