body {
  background-color: rgb(250, 243, 224);
  color: rgb(30, 33, 45);
  font-family: "M PLUS 1", sans-serif;
  margin: 0;
  padding: 0;
}

a,
p,
li,
ul,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  line-height: 150%;
}

a,
button,
input {
  cursor: pointer;
}

a {
  color: rgb(30, 33, 45);
}

a:hover {
  color: rgb(182, 137, 115);
}

.header {
  background: rgb(182, 137, 115);
  height: 70px;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo a,
.header-logo a img {
  height: 100%;
}

.header-logo-text {
  color: #fff;
  font-family: "DynaPuff", cursive;
  font-size: 24px;
  margin: 15px;
}

.header-menu-btn {
  display: none;
}

@media screen and (max-width:767px) {
  .header {
    background-color: rgb(182, 137, 115);
    margin: 0;
    height: 70px;
    padding: 0px 10px 0 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
  }

  .header-logo-text {
    margin: 0 0 0 5px;
  }

  .header img {
    width: 50px;
    height: 50px;
  }

  .header-menu-btn {
    display: block;
    background: none;
    width: 48px;
    height: 48px;
  }

  .header-menu-btn img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: rgb(182, 137, 115);
  padding: 10px 5px;
  width: 100%;
}

.footer p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.c_main {
  background-color: rgb(250, 243, 224);
  max-width: 980px;
  margin: 40px auto;
}

.c_main-sort {
  width: 100%;
  margin-bottom: 20px;
  text-align: right;
}

.c_main-sort select {
  border-radius: 3px;
  background: rgb(182, 137, 115);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  margin-right: 15px;
}

@media screen and (max-width:767px) {
  .c_main {
    margin: 0 auto;
  }
}

.c_main-title {
  margin: 20px 0;
}

.c_main-title-text {
  font-size: 18px;
}

.c_main-title i {
  color: rgb(182, 137, 115);
  font-size: 20px;
  margin-right: 5px;
}

.c_main-top-img {
  text-align: center;
  margin: 40px auto;
  width: 80%;
}

.c_main-top-img-item {
  width: 50%;
}

@media screen and (max-width:767px) {
  .c_main-top-img-item {
    width: 100%;
  }
}

.c_main-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 10px 20px 0;
}

.c_main-user-img {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

.c_main-user-img-item {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.c_main-user-name {
  font-size: 18px;
  margin-right: 5px;
}

.c_contents-card {
  margin: 20px auto;
  padding: 0 10px;
}

.c_contents-title {
  background-color: rgb(30, 33, 45);
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.c_contents-title-text {
  font-size: 18px;
  margin: 0;
}

.c_contents-about {
  background-color: rgb(234, 191, 159);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px 20px 20%;
}

@media screen and (max-width:767px) {
  .c_contents-about {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
  }
}

.c_contents-about-text {
  padding: 0 10px 0 15px;
}

.c_contents-about-text p {
  margin-bottom: 15px;
}

.c_contents-diary {
  background-color: rgb(234, 191, 159);
  border-radius: 0 0 10px 10px;
  padding: 20px 15px;
}

.c_contents-diary p,
.c_contents-diary div {
  margin: 20px auto;
  width: 90%;
}

.c_contents-diary-date {
  text-align: right;
}

.c_contents-diary-img {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 15px 10px;
}

.c_contents-diary-img-item {
  width: 100%;
}

.c_contents-withdrow {
  width: 80%;
  max-width: 980px;
  margin: 20px auto;
}

.c_contents-withdrow-title {
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
}

.c_contents-withdrow-title strong {
  background-image: linear-gradient(transparent 50%, yellow 0%);
  display: inline;
}

.c_contents-withdrow-about {
  margin: 15px 0;
}

.c_submit {
  margin: 40px 0;
  text-align: right;
}

.c_submit-btn {
  background-color: rgb(182, 137, 115);
  border-radius: 5px;
  box-shadow: 0px 3px 3px 2px rgba(30, 33, 45, 0.7);
  color: #fff;
  font-size: 18px;
  padding: 15px 20px;
  transition: all 0.5s;
  transform: translateY(-2px);
}

.c_submit-btn:hover {
  background-color: rgb(234, 191, 159);
  box-shadow: 0px 1px 0 0 rgba(30, 33, 45, 0.7);
  color: rgb(30, 33, 45);
  transition: all 0.5s;
  transform: translateY(2px);
}

.c_file-label {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #c8c2bc;
  display: block;
  line-height: 250px;
  height: 250px;
  width: 90%;
  margin: 15px auto;
  position: relative;
}

.c_file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.c_file-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p_form {
  width: 90%;
  max-width: 980px;
  margin: 40px auto;
}

.p_form-keep-btn {
  position: relative;
  margin-right: 10px;
}

.p_form-keep-btn i {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.p_form-keep-btn.keep i {
  color: rgb(182, 137, 115);
}

.p_form-keep-input {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
}

.p_form-content-keep {
  text-align: right;
  margin: 10px 0 30px;
}

.p_form-content-title {
  background-color: rgb(30, 33, 45);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px 5px;
}

.p_form-content-items {
  background-color: rgb(234, 191, 159);
  padding: 20px 10px;
  text-align: center;
}

.p_form-content-items-text {
  margin: 15px 0;
}

.p_form-content-items-text i {
  color: rgb(182, 137, 115);
  margin: 0 10px;
}

.p_form-content-items.input-datetime {
  display: flex;
  align-items: center;
}

.p_form-content-input {
  border: none;
  border-radius: 5px;
  width: 95%;
  margin: 5px auto;
  padding: 10px 5px;
}

.p_form-content-input.input-datetime {
  width: 28.5714285714%;
}

.p_form-content-select {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:767px) {
  .p_form-content-select {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.p_form-content-select-btn {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: all 0.5s;
  transform: scale(1);
  position: relative;
}

.p_form-content-select-btn.selected {
  border: 2px solid rgb(30, 33, 45);
}

.p_form-content-select-btn:hover {
  background-color: rgb(250, 243, 224);
  transition: all 0.5s;
  transform: scale(1.2);
}

.p_form-content-select-btn .p_form-content-input {
  width: 30px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.p_form-content-select-btn .checked {
  border: 2px solid rgb(30, 33, 45);
}

.p_form-content-select-btn.select-poof-color1 {
  background-color: #fff;
}

.p_form-content-select-btn.select-poof-color2 {
  background-color: #f7ed8c;
}

.p_form-content-select-btn.select-poof-color3 {
  background-color: #e4b901;
}

.p_form-content-select-btn.select-poof-color4 {
  background-color: #e68a01;
}

.p_form-content-select-btn.select-poof-color5 {
  background-color: #a25c00;
}

.p_form-content-select-btn.select-poof-color6 {
  background-color: #572d03;
}

.p_form-content-select-btn.select-poof-color7 {
  background-color: #2d4a00;
}

.p_form-content-select-btn.select-poof-color8 {
  background-color: #8e9388;
}

.p_form-content-select-btn.select-poof-color9 {
  background-color: #ba3207;
}

.p_form-content-select-btn.select-pee-color1 {
  background-color: #fff;
}

.p_form-content-select-btn.select-pee-color2 {
  background-color: #eeffff;
}

.p_form-content-select-btn.select-pee-color3 {
  background-color: #fbf6bf;
}

.p_form-content-select-btn.select-pee-color4 {
  background-color: #fce16d;
}

.p_form-content-select-btn.select-pee-color5 {
  background-color: #f0c081;
}

.p_form-content-select-btn.select-pee-color6 {
  background-color: #cc8b36;
}

.p_form-content-select-btn.select-pee-color7 {
  background-color: #ba3207;
}

.p_form-content-select-img {
  width: 100%;
}

.p_form-content-select-img.small {
  width: 65%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3.85rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #1b4b72;
  background-color: #d6e9f8;
  border-color: #c6e0f5;
}

.alert-primary hr {
  border-top-color: #b0d4f1;
}

.alert-primary .alert-link {
  color: #113049;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #54654f;
  background-color: #ecf3ea;
  border-color: #e5eee2;
}

.alert-success hr {
  border-top-color: #d7e5d2;
}

.alert-success .alert-link {
  color: #3c4839;
}

.alert-info {
  color: #385d7a;
  background-color: #e2f0fb;
  border-color: #d6e9f9;
}

.alert-info hr {
  border-top-color: #c0ddf6;
}

.alert-info .alert-link {
  color: #284257;
}

.alert-warning {
  color: #837e6c;
  background-color: #fefcf5;
  border-color: #fefbf2;
}

.alert-warning hr {
  border-top-color: #fcf4da;
}

.alert-warning .alert-link {
  color: #676355;
}

.alert-danger {
  color: #823a3a;
  background-color: #fee2e2;
  border-color: #fed7d7;
}

.alert-danger hr {
  border-top-color: #fdbebe;
}

.alert-danger .alert-link {
  color: #5f2a2a;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}

.valid-error {
  border: 1px solid #FA7070;
}

.invalid-feedback {
  display: block;
}

.p_button-primary {
  background-color: rgb(250, 243, 224);
  border-radius: 5px;
  box-shadow: 0px 3px 3px 2px rgba(30, 33, 45, 0.7);
  font-size: 18px;
  padding: 15px 20px;
  transition: all 0.5s;
  transform: translateY(-2px);
}

.p_button-primary:hover {
  background-color: rgb(182, 137, 115);
  box-shadow: 0px 1px 0 0 rgba(30, 33, 45, 0.7);
  transition: all 0.5s;
  transform: translateY(2px);
}

.p_button-primary a {
  color: rgb(30, 33, 45);
  padding: 15px 20px;
}

.p_button-primary a:hover {
  color: #fff;
}

.p_button-primary.color1 {
  background-color: rgb(182, 137, 115);
  padding: 15px 20px;
}

.p_button-primary.color1:hover {
  background-color: rgb(234, 191, 159);
}

.p_button-primary.color1 a {
  color: #fff;
}

.p_button-primary.color1 a:hover {
  color: rgb(30, 33, 45);
}

.p_menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: "Hachi Maru Pop", cursive;
}

.p_menu-close {
  display: none;
}

.p_menu-list {
  margin: 0 10px;
}

.p_menu-link {
  color: rgb(30, 33, 45);
}

.p_menu-link:hover {
  color: rgb(182, 137, 115);
}

.p_menu-submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p_menu-submenu-btn {
  background: none;
  display: flex;
  align-items: center;
}

.p_menu-submenu-btn:hover {
  color: rgb(182, 137, 115);
}

.p_menu-submenu-btn i {
  display: none;
  margin: 0 10px;
}

.p_menu-submenu-btn i.on {
  display: block;
}

.p_menu-submenu-items {
  display: none;
}

.p_menu-submenu-items.open {
  display: block;
}

@media screen and (max-width:767px) {
  .p_menu {
    background: rgb(234, 191, 159);
    border: 1px solid rgb(182, 137, 115);
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: all 0.5s;
    padding: 10px 0;
    position: absolute;
    top: -400%;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  .p_menu.on {
    display: block;
    transition: all 1.5s;
    top: 0;
  }

  .p_menu-close {
    display: block;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 10px;
  }

  .p_menu-close-btn {
    padding: 10px 20px;
    background: none;
    font-size: 24px;
  }

  .p_menu-list {
    margin: 30px 0;
  }

  .p_menu-link {
    padding: 10px 20px;
  }

  .p_menu-link:hover {
    color: #fff;
  }

  .p_menu-submenu {
    display: block;
  }

  .p_menu-submenu-btn {
    display: block;
    font-size: 16px;
    margin: 30px auto;
    width: 100%;
    position: relative;
  }

  .p_menu-submenu-btn:hover {
    color: #fff;
  }

  .p_menu-submenu-btn i {
    font-size: 18px;
    display: none;
    margin: 0;
    position: absolute;
    right: 25%;
    top: 10%;
  }

  .p_menu-submenu-btn i.on {
    display: block;
  }
}

.justfy-eve {
  justify-content: space-evenly;
}

.justfy-ard {
  justify-content: space-around;
}

.nowrap {
  flex-wrap: nowrap;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-40 {
  margin-bottom: 40px;
}

