body{
    background-color: $yellow;
    color: $black;
    font-family: 'M PLUS 1', sans-serif;
    margin: 0;
    padding: 0;
}
a,p,li,ul,button,input{
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}