body{
    background-color: $yellow;
    color: $black;
    font-family: 'M PLUS 1', sans-serif;
    margin: 0;
    padding: 0;
}
a,p,li,ul,button,input{
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
p{
    line-height: 150%;
}
a,button,input{
    cursor: pointer;
}
a{
    color: $black;
    &:hover{
        color: $brown;
    }
}