.header{
    @include mq(){
        background-color: $brown;
        margin: 0;
        height: 70px;
        padding: 0px $space-10 0 $space-5;
        position:relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo{
            display: flex;
            align-items: center;
            &-text{
                font-family: 'DynaPuff', cursive;
                margin-left: $space-5;
            }
        }
        & img{
            width: 50px;
            height: 50px;
        }
        &-menu-btn{
            background: none;
            width: 48px;
            height: 48px;
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}