.c_main{
    background-color: $yellow;
    max-width: 980px;
    margin: $space_40 auto;
    @include mq(){
        margin: 0 auto;
    }
    &-title{
        margin: $space_20 0;
        &-text{
            font-size: $font-size_l;
        }
        & i{
            color: $brown;
            font-size: 20px;
            margin-right: $space-5;
        }
    }
    &-top-img{
        text-align: center;
        margin: $space_40 auto;
        width: 80%;
        &-item{
            width: 50%;
            @include mq(){
                width: 100%;
            }
        }
    }
    &-user{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: $space_20 $space-10 $space-20 0;
        &-img{
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            &-item{
                border-radius: 100%;
                width: 100%;
                height: 100%;
            }
        }
        &-name{
            font-size: $font-size_l;
            margin-right: $space-5;
        }
    }
}